<% include  ../public/header.html%>
    <!--end header -->

    <link rel="stylesheet" href="/public/web/css/pay.css" />
    <link rel="stylesheet" href="/public/common/bootstrap/css/bootstrap.css" />
    <script src="/public/common/bootstrap/js/bootstrap.js"></script>

    <style>
        .lcode {
            padding-right: 80px;
            display: inline-block;
            width: 200px;
            height: 200px;
        }
        
        .rphone {
            width: 240px;
        }
    </style>

    <!-- start banner_x -->
    <div class="banner_x center clearfix">
        <a href="/" target="_blank">
            <div class="logo fl"></div>
        </a>
        <div class="wdgwc fl ml40">确认订单 </div>
    </div>

    <div class="page-main">
        <div class="checkout-box">
            <div class="section section-order">
                <div class="order-info clearfix">
                    <div class="fl">
                        <h2 class="title">订单提交成功！去付款咯～</h2>
                        <p class="order-time" id="J_deliverDesc"></p>
                        <p class="order-time">请在<span class="pay-time-tip">47小时59分</span>内完成支付, 超时后将取消订单</p>
                    </div>
                    <div class="fr">
                        <p class="total">
                            应付总额：<span class="money"><em><%=orderResult.all_price%></em>元</span>
                        </p>
                        <a href="javascript:void(0);" class="show-detail" id="J_showDetail" data-stat-id="db85b2885a2fdc53">订单详情<i class="iconfont"></i></a>
                    </div>
                </div>
                <i class="iconfont icon-right">√</i>
                <div class="order-detail">
                    <ul>
                        <li class="clearfix">
                            <div class="label">订单号：</div>
                            <div class="content">
                                <span class="order-num">
                                  <%=orderResult.order_id%> 
                                </span>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="label">收货信息：</div>
                            <div class="content">
                                <%=orderResult.name%>
                                    <%=orderResult.phone%>&nbsp;&nbsp;
                                        <%=orderResult.address%>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="label">商品名称：</div>
                            <div class="content">
                                <%for(var i=0;i<orderItemResult.length;i++){%>
                                    <p>
                                        <%=orderItemResult[i].product_title%>
                                    </p>
                                    <%}%>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="section section-payment">
                <div class="cash-title" id="J_cashTitle">
                    选择以下支付方式付款
                </div>

                <div class="payment-box ">
                    <div class="payment-body">
                        <ul class="clearfix payment-list J_paymentList J_linksign-customize">
                            <li id="weixinPay"><img src="/public/web/image/weixinpay0701.png" alt="微信支付" style="margin-left: 0;"></li>
                            <li class="J_bank" id="alipay">
                                <a target="_blank" href="/pay/ali?id=<%=id%>"> <img src="/public/web/image/payOnline_zfb.png" alt="支付宝" style="margin-left: 0;"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="alipayModel" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">正在支付...</h4>
                </div>
                <div class="modal-body">
                    <a href="#">已经支付成功</a>
                    <br>
                    <br>
                    <br>
                    <a href="#">未支付成功</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="weixinPayModel" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">微信支付</h4>
                </div>
                <div class="modal-body">
                    <!-- 这里的id 传递的是订单号 -->
                    <img class="lcode" src="/pay/wechat?id=<%=id%>" />
                    <img class="rphone" src="/public/web/image/phone.png" />
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function() {
            $(".show-detail").click(function() {
                $(".order-detail").slideToggle();
            });

            $("#alipay").click(function() {
                $('#alipayModel').modal('show');
            });

            $("#weixinPay").click(function() {
                $('#weixinPayModel').modal('show');
            });

            // 轮询订单状态，支付成功后，跳转到用户订单页面
            var timer = setInterval(function() {
                $.get('/order/getOrderPayStatus?id=<%=id%>', function(response) {
                    // console.log(response);
                    if (response.success) {
                        clearInterval(timer);
                        location.href = '/user/order'
                    }
                })

            }, 5000);
        })
    </script>

    <!-- footer -->
    <% include  ../public/footer.html%>

        </body>

        </html>