<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <!--The content below is only a placeholder and can be replaced.-->
    <link rel="stylesheet" href="/public/common/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/public/admin/css/basic.css">
    <script type="text/javascript" src="/public/common/bootstrap/js/jquery-1.10.1.js"></script>
    <script type="text/javascript" src="/public/common/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/public/admin/js/base.js"></script>
</head>

<body>