/*
// | MobileCms 移动应用软件后台管理系统
// +----------------------------------------------------------------------
// | provide by ：59miao.com
// 
// +----------------------------------------------------------------------
// | Author: htzhanglong@foxmail.com
// +----------------------------------------------------------------------
*/

@CHARSET "UTF-8";
body {
    margin: 0;
    padding: 0;
}

.container {
    background: #c13a34 url('../images/login-bg.jpg') no-repeat center;
    height: 600px;
    width: 100%;
    position: relative;
}

#login {
    width: 500px;
    height: auto;
    overflow: hidden;
    color: #333;
    background-color: #fff;
    position: absolute;
    top: 120px;
    right: 210px;
    padding-bottom: 20px;
}

#login dl {
    width: 500px;
    margin: 0 0 0 auto;
    padding: 10px 0 0 20px;
    color: #666;
    float: left;
    font-size: 15px;
}

#login dl dd {
    margin: 16px 0;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    height: auto;
}

#login dl dd input.text {
    width: 280px;
    height: 30px;
    line-height: 30px;
}

#login dl dd input.submit {
    border: none;
    display: block;
    margin: 15px auto 0;
    cursor: pointer;
    width: 130px;
    height: 40px;
    line-height: 40px;
    background-color: #d87633;
    color: #fff;
}

#login dl dd.code {
    padding: 0 0 0 72px;
}

#login dl dd.code img {
    border: 1px solid #eee;
    cursor: pointer;
}

#verify {
    height: 30px;
    line-height: 30px;
    width: 90px;
    margin-right: 3px;
}

#verify_img {
    cursor: pointer;
    position: relative;
    top: 12px;
}

.text {
    height: 22px;
}

.l_title {
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    padding-left: 5px;
    padding-top: 10px;
    color: #333;
    font-weight: bold;
    text-align: center;
}