<% include  ./public/header.html%>
    <!--end header -->
    <!-- start banner_x -->
    <% include  ./public/banner.html%>
        <!-- end banner_x -->

        <!-- start danpin -->
        <div class="danpin center">
            <div class="biaoti center">网仹手机</div>
            <div class="main center">
                <%for(var i=0;i<goodsList.length;i++){%>
                    <div class="mingxing fl mb20" style="border:2px solid #fff;width:230px;cursor:pointer;" onmouseout="this.style.border='2px solid #fff'" onmousemove="this.style.border='2px solid red'">
                        <div class="sub_mingxing">
                            <a href="/pinfo?id=<%=goodsList[i]._id%>" target="_blank"><img src="<%=goodsList[i].goods_img%>" alt="" /></a>
                        </div>
                        <div class="pinpai">
                            <a href="./xiangqing.html" target="_blank">
                                <%=goodsList[i].title%>
                            </a>
                        </div>
                        <div class="jiage">
                            <%=goodsList[i].shop_price%>元</div>
                    </div>
                    <%}%>
            </div>
        </div>

        <footer class="mt20 center">
            <div class="mt20">网仹商城|多看书城|网仹路由器|视频电话|网仹天猫店|网仹淘宝直营店|网仹网盟|网仹移动|隐私政策|Select Region</div>
            <div>©mi.com 京ICP证11111号</div>
            <div>违法和不良信息举报电话：111-111-1111</div>

        </footer>

        <!-- end danpin -->