<% include  ./public/header.html%>
    <!--end header -->
    <!-- start banner_x -->
    <% include  ./public/banner.html%>
        <!-- end banner_x -->

        <!-- start danpin -->
        <div class="danpin center">
            <div class="biaoti center">网仹手机</div>
            <div class="main center">
                <%for(var i=0;i<goodsList.length;i++){%>
                    <div class="mingxing fl mb20" style="border:2px solid #fff;width:230px;cursor:pointer;" onmouseout="this.style.border='2px solid #fff'" onmousemove="this.style.border='2px solid red'">
                        <div class="sub_mingxing">
                            <a href="/pinfo?id=<%=goodsList[i]._id%>" target="_blank"><img src="<%=goodsList[i].goods_img%>" alt="" /></a>
                        </div>
                        <div class="pinpai">
                            <a href="./xiangqing.html" target="_blank">
                                <%=goodsList[i].title%>
                            </a>
                        </div>
                        <div class="jiage">
                            <%=goodsList[i].shop_price%>元</div>
                    </div>
                    <%}%>
            </div>
        </div>

        <% include  ./public/footer.html%>